# Disallow
doc/*
work_dirs/
predicts/
output/
data/

__pycache__/
*/*.un~
.*.swp

vis/*

*.egg-info/
*.egg
*.eggs

output.txt
.vscode/*
.DS_Store
tmp.*
*.pt
# *.pth
*.un~
*.so
build

lane
debug
pretrained_models
vlanedet/**
vlanedet_1-12-0/**
vlanedet_1-12-0_copy/**
conda/

# Allow
!.vscode/launch.json
!.doc/main.tex